.suq{
    max-width: 900px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #231f20;
    font-size: 14px;
    color: #231f20;
    margin: auto;
    line-height: 1.4;
    background: #fff;
}
strong{
    font-weight: bold;
}
img{
    border: none;
    max-width: 100%
}

ul{
    margin: 0 0 14px 0;
    padding: 0 0 0 0
}
li {
    list-style-type: none;
    padding-left: 24px;
    text-align: left;
    position: relative;
}
li:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
    background: #231f20;
}

a {
    color: inherit;
    text-decoration: none
}
h1{
	font-size: 30px;
	margin: 20px 0 20px;
	line-height: normal;
	font-weight: normal;
    text-align: center;
}
p{
    margin: 0px 0px 14px
}
.nd{
    padding: 30px 30px 30px;
}
h1 span{
    font-size: 14px
}
h2{
    font-weight: normal;
    margin: 0 0 0 0;
    font-size: 20px;
    line-height: normal;
    text-align: center;
} 
h3{
    font-weight: normal;
    margin: 0 0 0 0;
    font-size: 20px;
    line-height: normal;
} 
h1 strong{
    
}

/*---------bootraps------------*/
div{
    display: block;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img-responsive{
    max-width: 100%;
    display: block;
}

body{
    margin: 8px 0px
}